.DS_Store
node_modules/
C:\Users\muham\OneDrive\Dokumen\project\ai generator indonesia\ui kit\argon\html\dashboard\argon-dashboard-master\functions/
C:\Users\muham\OneDrive\Dokumen\project\ai generator indonesia\ui kit\argon\html\dashboard\argon-dashboard-master\pages\js\openai/
C:\Users\muham\OneDrive\Dokumen\project\ai generator indonesia\ui kit\argon\html\dashboard\argon-dashboard-master\pages\js\payment/